/* Write your CSS here */

.notFound-con {
  background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#ffffff;
}
.notFound-heading {
  font-size: 20px;
  font-family: 'Bree Serif';
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .notFound-con{
    background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png");
  }
  .notFound-heading {
    font-size:40px;
  }
}
